.animations {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #462727;
    padding: 20px;

    button {
        margin: 20px 10px 0;
        color: red;
        background-color: pink;
        width: 130px;
    }
    .svg-wrapper {
        height: 450px;
        >svg {
            height: 100%
        }
        g {
            transform-origin: center;
         }
    }
}
