.animations {
    color: green;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #462727;
    padding: 20px;

    button {
        margin-top: 20px;
        color: red;
        background-color: pink;
    }
    .svg-wrapper {
        position: relative;
        >svg {
             height: 450px;
        }
        g {
            transform-origin: center;
         }
    }
}